<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zulfa.devplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/code"
        android:label="@string/app_name"
        android:roundIcon="@drawable/code"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".dart"></activity>
        <activity android:name=".khotlin" />
        <activity android:name=".react" />
        <activity android:name=".ruby" />
        <activity android:name=".js" />
        <activity android:name=".c" />
        <activity android:name=".python" />
        <activity android:name=".JAVA" />
        <activity android:name=".PHP" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>